{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container-fluid mb-5">
        <h1 class="col-6 offset-3 bg-light rounded text-center">Quizz</h1>
        <div class="container-fluid mt-4">
            <div class="p-5 mt-4 container rounded">
                <h2 class="text-center bg-light rounded" id="question">{{ questions.question }}</h2>
            </div>
            <div class="container-fluid d-flex justify-content-between">
                <div class="bg-light rounded">
                    <img src="{{ cocktail.image }}" class="img rounded" alt="cocktail">
                    <h3 class="text-center text-dark mt-2">{{ cocktail.name }}</h3>
                </div>
                <div>
                    <div class="text-center choice">
                        <button class="btn btn-secondary fixed-size float-center">{{ questions.reponse1 }}</button>
                    </div>
                    <div class="text-center mt-3 choice">
                        <button class="btn btn-secondary fixed-size float-center">{{ questions.reponse2 }}</button>
                    </div>
                    <div class="text-center mt-3 choice">
                        <button class="btn btn-secondary fixed-size float-center">{{ questions.reponse3 }}</button>
                    </div>
                </div>
                <div class="container bg-white rounded ml-5 hidden" id="recipe">
                    <h4 class="text-center mt-3">Ingredients</h4>
                    <div class="card-body d-flex justify-content-center">
                        <ul>
                            {% for ingredient in cocktail.ingredients %}
                                {% if ingredient != null %}
                                    <li>{{ ingredient }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <ul>
                            {% for measure in cocktail.measures %}
                                {% if measure != null %}
                                    <li class="no-transform">{{ measure }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="text-center">
                        <h4>Instructions</h4>
                        <p>{{ cocktail.instruction }}</p>
                    </div>
                    <div class="text-center">
                        <a href="/quizz/play/{{ questions.title }}/{{ questions.order + 1 }}"><button class="btn btn-secondary mb-2">Next question</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
<script> document.body.style.backgroundImage= "url('{{ background }}')";</script>
<script> document.body.style.backdropFilter = "grayscale(0%)";</script>
<script>
    let recipe = document.getElementById('recipe');
    let selectors = document.getElementsByClassName('choice');
    let question = document.getElementById('question');
    for (let i = 0; i< selectors.length; i++){
        selectors[i].addEventListener('click', (e)=>{
            recipe.classList.toggle('hidden');
            selectors[0].classList.add('hidden');
            selectors[1].classList.add('hidden');
            selectors[2].classList.add('hidden');
        })
    }
</script>
{% endblock %}
