{% extends 'layout.html.twig' %}

{% block title %}
    Nasa picture of the day by {{ pic_data.copyright }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            Nasa Picture of the day by {{ pic_data.copyright }}
        </h1>
        <h2>
            {{ pic_data.title }}
        </h2>
        <img src="{{ pic_data.url }}" alt="image of {{ pic_data.title }}">

    </div>
{% endblock %}
